body {
	margin: 0px;
}

.container {

}

.main {

}

.top-tracks {
	list-style: none;
	margin: 0px;
}

.top-track {
	float: left;
	// display: inline-block;
	// width: 100%;
	// margin: 10px 30px 10px 0px;
	width:25%;
  	padding-top:25%;
	background-size: cover;
	position: relative;
	ul {
		position: absolute;
		top: 0;
    	z-index: 10000;
	}
	// @media('min-width:  600px') {
	// 	width: 50%;
	// }
	// @media('min-width:  900px') {
	// 	width: 33%;
	// }
	// @media('min-width:  1200px') {
	// 	width: 25%;
	// }
}