body {
  margin: 0px; }

.top-tracks {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.top-track {
  float: left;
  width: 25%;
  padding-top: 25%;
  background-size: cover;
  position: relative; }
  .top-track ul {
    position: absolute;
    top: 0;
    z-index: 10000; }
